# TechStore - ETL Pipeline
## Business Intelligence Project
### Data Extraction, Transformation, and Loading

In [31]:
import pandas as pd
import numpy as np
import os
import sys
import warnings
from pathlib import Path
from datetime import datetime

warnings.filterwarnings('ignore')

In [32]:
PROJECT_ROOT = Path.cwd()
SCRIPTS_DIR = PROJECT_ROOT / 'scripts'
DATA_DIR = PROJECT_ROOT / 'Data'
EXTRACTED_DIR = DATA_DIR / 'extracted'
TRANSFORMED_DIR = DATA_DIR / 'transformed'
DATABASE_DIR = PROJECT_ROOT / 'database'

for directory in [EXTRACTED_DIR, TRANSFORMED_DIR, DATABASE_DIR]:
    directory.mkdir(parents=True, exist_ok=True)

sys.path.insert(0, str(SCRIPTS_DIR))

print("="*70)
print("TECHSTORE - ETL PIPELINE")
print("="*70)
print(f"Project Root: {PROJECT_ROOT}")
print(f"Execution: {datetime.now().strftime('%Y-%m-%d %H:%M:%S')}")
print("="*70)

======================================================================
TECHSTORE - ETL PIPELINE
======================================================================
Project Root: c:\Users\windows\TechStore\src
Execution: 2026-01-27 22:30:04
======================================================================

## 1. Data Extraction

In [33]:
print("\n" + "="*70)
print("MYSQL EXTRACTION")
print("="*70)

MYSQL_CONFIG = {
    'host': 'boughida.com',
    'database': 'techstore_erp',
    'user': 'student_user_4ing',
    'password': 'bi_guelma_2025'
}

try:
    from extract_mysql import MySQLExtractor
    
    extractor = MySQLExtractor(**MYSQL_CONFIG)
    
    if extractor.connect():
        print("MySQL connection established\n")
        extraction_summary = extractor.extract_all_tables()
        extractor.close()
        print(f"\n{len(extraction_summary)} tables extracted successfully")
    else:
        print("MySQL connection failed")
        
except Exception as e:
    print(f"Error in MySQL extraction: {e}")

======================================================================
MYSQL EXTRACTION
======================================================================
2026-01-27 22:30:05,373 - INFO - Connexion réussie à techstore_erp
MySQL connection established

2026-01-27 22:30:05,376 - INFO -
============================================================
2026-01-27 22:30:05,378 - INFO -  DÉBUT DE L'EXTRACTION COMPLÈTE
2026-01-27 22:30:05,379 - INFO - ============================================================

2026-01-27 22:30:05,713 - INFO -
Informations sur table_sales:
2026-01-27 22:30:05,715 - INFO -    Nombre de lignes: 25000
2026-01-27 22:30:05,716 - INFO -    Colonnes: Trans_ID, Date, Store_ID, Product_ID, Customer_ID, Quantity, Total_Revenue
2026-01-27 22:30:05,719 - INFO -  Extraction de la table: table_sales
2026-01-27 22:30:08,307 - INFO - 25000 lignes extraites de table_sales
2026-01-27 22:30:08,311 - INFO - Fichier sauvegardé: data/extracted/sales.csv
2026-01-27 22:30:08,312 - INFO -
------------------------------------------------------------

2026-01-27 22:30:08,643 - INFO -
Informations sur table_products:
2026-01-27 22:30:08,645 - INFO -    Nombre de lignes: 38
2026-01-27 22:30:08,647 - INFO -    Colonnes: Product_ID, Product_Name, SubCat_ID, Unit_Price, Unit_Cost
2026-01-27 22:30:08,649 - INFO -  Extraction de la table: table_products
2026-01-27 22:30:08,824 - INFO - 38 lignes extraites de table_products
2026-01-27 22:30:08,827 - INFO - Fichier sauvegardé: data/extracted/products.csv
2026-01-27 22:30:08,831 - INFO -
------------------------------------------------------------

2026-01-27 22:30:09,163 - INFO -
Informations sur table_reviews:
2026-01-27 22:30:09,164 - INFO -    Nombre de lignes: 3000
2026-01-27 22:30:09,166 - INFO -    Colonnes: Review_ID, Product_ID, Customer_ID, Rating, Review_Text
2026-01-27 22:30:09,168 - INFO -  Extraction de la table: table_reviews
2026-01-27 22:30:09,547 - INFO - 3000 lignes extraites de table_reviews
2026-01-27 22:30:09,557 - INFO - Fichier sauvegardé: data/extracted/reviews.csv
2026-01-27 22:30:09,563 - INFO -
------------------------------------------------------------

2026-01-27 22:30:09,950 - INFO -
Informations sur table_customers:
2026-01-27 22:30:09,953 - INFO -    Nombre de lignes: 1200
2026-01-27 22:30:09,956 - INFO -    Colonnes: Customer_ID, Full_Name, City_ID
2026-01-27 22:30:09,960 - INFO -  Extraction de la table: table_customers
2026-01-27 22:30:10,164 - INFO - 1200 lignes extraites de table_customers
2026-01-27 22:30:10,166 - INFO - Fichier sauvegardé: data/extracted/customers.csv
2026-01-27 22:30:10,168 - INFO -
------------------------------------------------------------

2026-01-27 22:30:10,519 - INFO -
Informations sur table_stores:
2026-01-27 22:30:10,521 - INFO -    Nombre de lignes: 12
2026-01-27 22:30:10,526 - INFO -    Colonnes: Store_ID, Store_Name, City_ID
2026-01-27 22:30:10,528 - INFO -  Extraction de la table: table_stores
2026-01-27 22:30:10,722 - INFO - 12 lignes extraites de table_stores
2026-01-27 22:30:10,726 - INFO - Fichier sauvegardé: data/extracted/stores.csv
2026-01-27 22:30:10,728 - INFO -
------------------------------------------------------------

2026-01-27 22:30:11,069 - INFO -
Informations sur table_cities:
2026-01-27 22:30:11,073 - INFO -    Nombre de lignes: 12
2026-01-27 22:30:11,076 - INFO -    Colonnes: City_ID, City_Name, Region
2026-01-27 22:30:11,079 - INFO -  Extraction de la table: table_cities
2026-01-27 22:30:11,263 - INFO - 12 lignes extraites de table_cities
2026-01-27 22:30:11,266 - INFO - Fichier sauvegardé: data/extracted/cities.csv
2026-01-27 22:30:11,267 - INFO -
------------------------------------------------------------

2026-01-27 22:30:11,615 - INFO -
Informations sur table_categories:
2026-01-27 22:30:11,616 - INFO -    Nombre de lignes: 5
2026-01-27 22:30:11,618 - INFO -    Colonnes: Category_ID, Category_Name
2026-01-27 22:30:11,622 - INFO -  Extraction de la table: table_categories
2026-01-27 22:30:11,781 - INFO - 5 lignes extraites de table_categories
2026-01-27 22:30:11,783 - INFO - Fichier sauvegardé: data/extracted/categories.csv
2026-01-27 22:30:11,785 - INFO -
------------------------------------------------------------

2026-01-27 22:30:12,125 - INFO -
Informations sur table_subcategories:
2026-01-27 22:30:12,128 - INFO -    Nombre de lignes: 15
2026-01-27 22:30:12,131 - INFO -    Colonnes: SubCat_ID, SubCat_Name, Category_ID
2026-01-27 22:30:12,133 - INFO -  Extraction de la table: table_subcategories
2026-01-27 22:30:12,314 - INFO - 15 lignes extraites de table_subcategories
2026-01-27 22:30:12,316 - INFO - Fichier sauvegardé: data/extracted/subcategories.csv
2026-01-27 22:30:12,318 - INFO -
------------------------------------------------------------

2026-01-27 22:30:12,320 - INFO -
============================================================
2026-01-27 22:30:12,323 - INFO -  RÉSUMÉ DE L'EXTRACTION
2026-01-27 22:30:12,326 - INFO - ============================================================

2026-01-27 22:30:12,332 - INFO -
              Table  Lignes  Colonnes Statut
        table_sales   25000         7 Succès
     table_products      38         5 Succès
      table_reviews    3000         5 Succès
    table_customers    1200         3 Succès
       table_stores      12         3 Succès
       table_cities      12         3 Succès
   table_categories       5         2 Succès
table_subcategories      15         3 Succès

2026-01-27 22:30:12,421 - INFO - Connexion fermée

8 tables extracted successfully

In [34]:
print("\n" + "="*70)
print("WEB SCRAPING - COMPETITOR PRICES")
print("="*70)

try:
    from scrape_competitors import scrape_with_fallback
    
    df_competitor = scrape_with_fallback()
    
    if df_competitor is not None and len(df_competitor) > 0:
        print(f"\n{len(df_competitor)} competitor prices extracted")
        print(f"File: {EXTRACTED_DIR / 'competitor_prices.csv'}")
    else:
        print("No competitor data retrieved")
        
except Exception as e:
    print(f"Error in web scraping: {e}")

======================================================================
WEB SCRAPING - COMPETITOR PRICES
======================================================================
2026-01-27 22:30:12,455 - INFO - ============================================================
2026-01-27 22:30:12,458 - INFO - Starting web scraping process
2026-01-27 22:30:12,461 - INFO - ============================================================
2026-01-27 22:30:12,462 - INFO - Fetching page: https://boughida.com/competitor/
2026-01-27 22:30:13,868 - INFO - Page successfully retrieved
2026-01-27 22:30:13,880 - INFO - Found additional pages: 2
2026-01-27 22:30:13,883 - INFO -
Page 1/3: https://boughida.com/competitor/
2026-01-27 22:30:13,885 - INFO - ------------------------------------------------------------
2026-01-27 22:30:13,888 - INFO - Fetching page: https://boughida.com/competitor/
2026-01-27 22:30:15,144 - INFO - Page successfully retrieved
2026-01-27 22:30:15,152 - INFO - Found 13 potential product containers
2026-01-27 22:30:15,158 - INFO - Extracted: Samsung S23 Ultra: 174800.0 DZD
2026-01-27 22:30:15,161 - INFO - Extracted: HP LaserJet Pro: 46000.0 DZD
2026-01-27 22:30:15,164 - INFO - Extracted: Dell 24 Monitor: 24200.0 DZD
2026-01-27 22:30:15,167 - INFO - Extracted: Canon i-Sensys: 39000.0 DZD
2026-01-27 22:30:15,169 - INFO - Extracted: Epson EcoTank: 27700.0 DZD
2026-01-27 22:30:15,175 - INFO - Extracted: Nikon D3500: 69200.0 DZD
2026-01-27 22:30:15,180 - INFO - Extracted: Xiaomi Redmi Note 12: 36800.0 DZD
2026-01-27 22:30:15,184 - INFO - Extracted: HP Pavilion Desktop: 83000.0 DZD
2026-01-27 22:30:15,190 - INFO - Extracted: Redmi Buds 4: 5300.0 DZD
2026-01-27 22:30:15,194 - INFO - Extracted: DJI Mini 3: 126900.0 DZD
2026-01-27 22:30:15,197 - INFO - Extracted: Sony SRS-XB13: 11100.0 DZD
2026-01-27 22:30:15,206 - INFO - Extracted: ASUS ROG STRIX: 290600.0 DZD
2026-01-27 22:30:15,210 - INFO - Extracted: LG UltraGear: 41700.0 DZD
2026-01-27 22:30:17,214 - INFO -
Page 2/3: https://boughida.com/competitor/competitor_page_2.html
2026-01-27 22:30:17,216 - INFO - ------------------------------------------------------------
2026-01-27 22:30:17,218 - INFO - Fetching page: https://boughida.com/competitor/competitor_page_2.html
2026-01-27 22:30:18,444 - INFO - Page successfully retrieved
2026-01-27 22:30:18,450 - INFO - Found 13 potential product containers
2026-01-27 22:30:18,453 - INFO - Extracted: IPHONE CABLE: 3200.0 DZD
2026-01-27 22:30:18,456 - INFO - Extracted: Lenovo ThinkPad: 94600.0 DZD
2026-01-27 22:30:18,458 - INFO - Extracted: AirPods Pro: 47400.0 DZD
2026-01-27 22:30:18,460 - INFO - Extracted: Phone Case Silicon: 1800.0 DZD
2026-01-27 22:30:18,462 - INFO - Extracted: Sony WH-1000XM5: 65400.0 DZD
2026-01-27 22:30:18,463 - INFO - Extracted: iPhone 13: 136900.0 DZD
2026-01-27 22:30:18,466 - INFO - Extracted: Canon 445 Black: 2600.0 DZD
2026-01-27 22:30:18,471 - INFO - Extracted: DJI Mavic 3: 350400.0 DZD
2026-01-27 22:30:18,473 - INFO - Extracted: JBL Flip 6: 23500.0 DZD
2026-01-27 22:30:18,477 - INFO - Extracted: HP VICTUS 15: 119700.0 DZD
2026-01-27 22:30:18,481 - INFO - Extracted: HP 650 Black: 2900.0 DZD
2026-01-27 22:30:18,486 - INFO - Extracted: Oppo Reno 8: 60200.0 DZD
2026-01-27 22:30:18,492 - INFO - Extracted: SAMSUNG CHARGER 25W: 4200.0 DZD
2026-01-27 22:30:20,496 - INFO -
Page 3/3: https://boughida.com/competitor/competitor_page_3.html
2026-01-27 22:30:20,497 - INFO - ------------------------------------------------------------
2026-01-27 22:30:20,499 - INFO - Fetching page: https://boughida.com/competitor/competitor_page_3.html
2026-01-27 22:30:22,186 - INFO - Page successfully retrieved
2026-01-27 22:30:22,196 - INFO - Found 12 potential product containers
2026-01-27 22:30:22,200 - INFO - Extracted: MacBook Air M2: 190500.0 DZD
2026-01-27 22:30:22,209 - INFO - Extracted: Canon Pixma: 11600.0 DZD
2026-01-27 22:30:22,213 - INFO - Extracted: Canon EOS 4000D: 60200.0 DZD
2026-01-27 22:30:22,216 - INFO - Extracted: JBL Tune 510BT: 11200.0 DZD
2026-01-27 22:30:22,225 - INFO - Extracted: Screen Protector: 930.0 DZD
2026-01-27 22:30:22,229 - INFO - Extracted: Custom Gaming PC: 300000.0 DZD
2026-01-27 22:30:22,233 - INFO - Extracted: Samsung Odyssey G5: 46700.0 DZD
2026-01-27 22:30:22,241 - INFO - Extracted: Realme GT3: 71700.0 DZD
2026-01-27 22:30:22,245 - INFO - Extracted: iPhone 14 Pro: 212700.0 DZD
2026-01-27 22:30:22,246 - INFO - Extracted: IPHONE 15 PRO MAX: 281500.0 DZD
2026-01-27 22:30:22,249 - INFO - Extracted: Dell XPS 13 5G: 242700.0 DZD
2026-01-27 22:30:22,253 - INFO - Extracted: Dell OptiPlex: 64400.0 DZD
2026-01-27 22:30:22,259 - INFO - ============================================================
2026-01-27 22:30:22,262 - INFO - Scraping completed: 38 total products
2026-01-27 22:30:22,266 - INFO - ============================================================
2026-01-27 22:30:22,326 - INFO -
Data saved to: data/extracted/competitor_prices.csv
2026-01-27 22:30:22,330 - INFO - Statistics:
2026-01-27 22:30:22,340 - INFO -   Total products: 38
2026-01-27 22:30:22,345 - INFO -   Average price: 89032.37 DZD
2026-01-27 22:30:22,349 - INFO -   Price range: 930 - 350400 DZD

38 competitor prices extracted
File: c:\Users\windows\TechStore\src\Data\extracted\competitor_prices.csv

In [35]:
print("\n" + "="*70)
print("OCR - LEGACY INVOICES (OPTIONAL)")
print("="*70)

invoice_dir = DATA_DIR / 'legacy_invoices'
has_invoices = invoice_dir.exists() and len(list(invoice_dir.glob('*.jpg'))) > 0

if has_invoices:
    print(f"{len(list(invoice_dir.glob('*.jpg')))} invoices detected\n")
    
    try:
        from extract_legacy_invoices import InvoiceOCRProcessor
        
        processor = InvoiceOCRProcessor(str(invoice_dir))
        df_legacy = processor.process_and_save()
        
        if df_legacy is not None and len(df_legacy) > 0:
            print(f"\n{len(df_legacy)} invoices processed")
        else:
            print("No data extracted from invoices")
            
    except Exception as e:
        print(f"OCR error: {e}")
else:
    print("No invoices found (optional step)")

======================================================================
OCR - LEGACY INVOICES (OPTIONAL)
======================================================================
5 invoices detected

2026-01-27 22:30:22,483 - INFO - Tesseract found in PATH: C:\Program Files\Tesseract-OCR\tesseract.EXE
2026-01-27 22:30:22,494 - INFO - ======================================================================
2026-01-27 22:30:22,504 - INFO - STARTING OCR INVOICE PROCESSING
2026-01-27 22:30:22,508 - INFO - ======================================================================
2026-01-27 22:30:22,512 - INFO - Found 5 invoice images to process

2026-01-27 22:30:22,515 - INFO -
======================================================================
2026-01-27 22:30:22,522 - INFO - PROCESSING [1/5]: order_001.jpg
2026-01-27 22:30:22,526 - INFO - ======================================================================

2026-01-27 22:30:26,178 - INFO - Extracted from order_001.jpg:
2026-01-27 22:30:26,182 - INFO -   [OK] Date: 2022-09-22
2026-01-27 22:30:26,186 - INFO -   [OK] Order_Reference: ORD-5073
2026-01-27 22:30:26,190 - INFO -   [OK] Customer_ID: C1001
2026-01-27 22:30:26,193 - INFO -   [OK] Customer_Name: Sami Oukil
2026-01-27 22:30:26,233 - INFO -   [OK] Product_Name: HP Victus 15
2026-01-27 22:30:26,238 - INFO -   [OK] Quantity: 2
2026-01-27 22:30:26,240 - INFO -   [OK] Unit_Price: 125000.0
2026-01-27 22:30:26,243 - INFO -   [OK] Total_Revenue: 250000.0
2026-01-27 22:30:26,245 - INFO -
======================================================================
2026-01-27 22:30:26,248 - INFO - PROCESSING [2/5]: order_002.jpg
2026-01-27 22:30:26,249 - INFO - ======================================================================
2026-01-27 22:30:29,616 - INFO - Extracted from order_002.jpg:
2026-01-27 22:30:29,622 - INFO -   [OK] Date: 2022-02-20
2026-01-27 22:30:29,624 - INFO -   [--] Order_Reference: None
2026-01-27 22:30:29,625 - INFO -   [OK] Customer_ID: C1003
2026-01-27 22:30:29,629 - INFO -   [OK] Customer_Name: Meriem Bouzid
2026-01-27 22:30:29,630 - INFO -   [OK] Product_Name: MacBook Alr M2
2026-01-27 22:30:29,633 - INFO -   [OK] Quantity: 1
2026-01-27 22:30:29,640 - INFO -   [OK] Unit_Price: 195000.0
2026-01-27 22:30:29,641 - INFO -   [OK] Total_Revenue: 195000.0
2026-01-27 22:30:29,644 - INFO -
======================================================================
2026-01-27 22:30:29,656 - INFO - PROCESSING [3/5]: order_003.jpg
2026-01-27 22:30:29,661 - INFO - ======================================================================
2026-01-27 22:30:32,799 - INFO - Extracted from order_003.jpg:
2026-01-27 22:30:32,806 - INFO -   [OK] Date: 2022-06-01
2026-01-27 22:30:32,809 - INFO -   [OK] Order_Reference: ORD-8447
2026-01-27 22:30:32,812 - INFO -   [OK] Customer_ID: C1004
2026-01-27 22:30:32,815 - INFO -   [OK] Customer_Name: Amine Rahmani
2026-01-27 22:30:32,820 - INFO -   [OK] Product_Name: Samsung S23 Ultra
2026-01-27 22:30:32,824 - INFO -   [OK] Quantity: 3
2026-01-27 22:30:32,827 - INFO -   [OK] Unit_Price: 185000.0
2026-01-27 22:30:32,830 - INFO -   [OK] Total_Revenue: 555000.0
2026-01-27 22:30:32,833 - INFO -
======================================================================
2026-01-27 22:30:32,840 - INFO - PROCESSING [4/5]: order_004.jpg
2026-01-27 22:30:32,842 - INFO - ======================================================================
2026-01-27 22:30:36,771 - INFO - Extracted from order_004.jpg:
2026-01-27 22:30:36,773 - INFO -   [OK] Date: 2022-10-27
2026-01-27 22:30:36,775 - INFO -   [OK] Order_Reference: ORD-7940
2026-01-27 22:30:36,777 - INFO -   [OK] Customer_ID: C1025
2026-01-27 22:30:36,781 - INFO -   [OK] Customer_Name: Houda Mekki
2026-01-27 22:30:36,783 - INFO -   [OK] Product_Name: iPhone 14 Pro
2026-01-27 22:30:36,787 - INFO -   [OK] Quantity: 3
2026-01-27 22:30:36,791 - INFO -   [OK] Unit_Price: 230000.0
2026-01-27 22:30:36,793 - INFO -   [OK] Total_Revenue: 690000.0
2026-01-27 22:30:36,795 - INFO -
======================================================================
2026-01-27 22:30:36,802 - INFO - PROCESSING [5/5]: order_005.jpg
2026-01-27 22:30:36,804 - INFO - ======================================================================
2026-01-27 22:30:39,062 - INFO - Extracted from order_005.jpg:
2026-01-27 22:30:39,064 - INFO -   [OK] Date: 2022-02-27
2026-01-27 22:30:39,066 - INFO -   [OK] Order_Reference: ORD-3931
2026-01-27 22:30:39,069 - INFO -   [OK] Customer_ID: C1002
2026-01-27 22:30:39,073 - INFO -   [OK] Customer_Name: Sofiane Khelifa
2026-01-27 22:30:39,075 - INFO -   [OK] Product_Name: Dell XPS 13
2026-01-27 22:30:39,076 - INFO -   [OK] Quantity: 2
2026-01-27 22:30:39,077 - INFO -   [OK] Unit_Price: 260000.0
2026-01-27 22:30:39,079 - INFO -   [OK] Total_Revenue: 520000.0
2026-01-27 22:30:39,086 - INFO -
======================================================================
2026-01-27 22:30:39,088 - INFO - OCR PROCESSING COMPLETED
2026-01-27 22:30:39,091 - INFO - Successfully processed: 5/5 invoices
2026-01-27 22:30:39,092 - INFO - ======================================================================
2026-01-27 22:30:39,098 - INFO -
======================================================================
2026-01-27 22:30:39,102 - INFO - DATA SUMMARY
2026-01-27 22:30:39,104 - INFO - ======================================================================
2026-01-27 22:30:39,106 - INFO - Total records: 5
2026-01-27 22:30:39,108 - INFO - Total revenue: 2,210,000 DZD
2026-01-27 22:30:39,109 - INFO -
Data Completeness:
2026-01-27 22:30:39,112 - INFO -   [OK] Date: 5/5 (100%)
2026-01-27 22:30:39,114 - INFO -   [OK] Order_Reference: 4/5 (80%)
2026-01-27 22:30:39,116 - INFO -   [OK] Customer_ID: 5/5 (100%)
2026-01-27 22:30:39,120 - INFO -   [OK] Customer_Name: 5/5 (100%)
2026-01-27 22:30:39,123 - INFO -   [OK] Product_Name: 5/5 (100%)
2026-01-27 22:30:39,125 - INFO -   [OK] Quantity: 5/5 (100%)
2026-01-27 22:30:39,126 - INFO -   [OK] Unit_Price: 5/5 (100%)
2026-01-27 22:30:39,135 - INFO -   [OK] Total_Revenue: 5/5 (100%)
2026-01-27 22:30:39,138 - INFO -
[SUCCESS] Data saved to: c:\Users\windows\TechStore\src\Data\extracted\legacy_sales.csv
2026-01-27 22:30:39,140 - INFO - ======================================================================

======================================================================
EXTRACTED DATA PREVIEW
======================================================================
  Source_File       Date Order_Reference Customer_ID   Customer_Name      Product_Name  Quantity  Unit_Price  Total_Revenue
order_001.jpg 2022-09-22        ORD-5073       C1001      Sami Oukil      HP Victus 15         2    125000.0       250000.0
order_002.jpg 2022-02-20            None       C1003   Meriem Bouzid    MacBook Alr M2         1    195000.0       195000.0
order_003.jpg 2022-06-01        ORD-8447       C1004   Amine Rahmani Samsung S23 Ultra         3    185000.0       555000.0
order_004.jpg 2022-10-27        ORD-7940       C1025     Houda Mekki     iPhone 14 Pro         3    230000.0       690000.0
order_005.jpg 2022-02-27        ORD-3931       C1002 Sofiane Khelifa       Dell XPS 13         2    260000.0       520000.0
======================================================================


5 invoices processed

## 2. Data Transformation

In [36]:
print("\n" + "="*70)
print("LOADING EXTRACTED DATA")
print("="*70)

dataframes = {}

csv_files = {
    'sales': 'sales.csv',
    'products': 'products.csv',
    'customers': 'customers.csv',
    'stores': 'stores.csv',
    'cities': 'cities.csv',
    'categories': 'categories.csv',
    'subcategories': 'subcategories.csv',
    'reviews': 'reviews.csv',
    'competitor_prices': 'competitor_prices.csv'
}

for name, filename in csv_files.items():
    filepath = EXTRACTED_DIR / filename
    if filepath.exists():
        dataframes[name] = pd.read_csv(filepath)
        print(f"{name:20} {len(dataframes[name]):>7,} rows")
    else:
        print(f"{name:20} File not found")

print(f"\n{len(dataframes)} files loaded")

======================================================================
LOADING EXTRACTED DATA
======================================================================
sales                 25,000 rows
products                  38 rows
customers              1,200 rows
stores                    12 rows
cities                    12 rows
categories                 5 rows
subcategories             15 rows
reviews                3,000 rows
competitor_prices         38 rows

9 files loaded

In [37]:
print("\n" + "="*70)
print("RUNNING TRANSFORMATION PIPELINE")
print("="*70)

try:
    os.chdir(SCRIPTS_DIR)
    import transform_data
    transform_data.main()
    os.chdir(PROJECT_ROOT)
    print("\nTransformation completed successfully")
    
except Exception as e:
    print(f"Transformation error: {e}")
    import traceback
    traceback.print_exc()
    os.chdir(PROJECT_ROOT)

======================================================================
RUNNING TRANSFORMATION PIPELINE
======================================================================
======================================================================
ETL PIPELINE - TRANSFORMATION PHASE
======================================================================

[1/8] Loading flat files...
✓ Flat files loaded successfully
   Marketing: (180, 4)
   Targets:   (432, 4)
   Shipping:  (13, 4)

[2/8] Cleaning dataframes...
✓ Cleaning completed

[3/8] Harmonizing currency...
✓ USD → DZD conversion done

[4/8] Analyzing sentiment...
✓ Sentiment analysis done (38 products)

[5/8] Creating dimension tables...
✓ 38 competitor prices matched
✓ dim_product created (38 products)
   Price range: 800.00 - 360000.00 DZD
   Categories: 5 unique
✓ dim_store created (12 stores)
   Regions: 4 unique
   Average monthly target: 3,132,539.62 DZD
   Average annual target: 37,590,475.47 DZD
   Initial rows: 1200
   Found 90 homonymes (same name + city) → removing
   Examples of homonymes found:
      'Amel Amrani' in city 11: customer_ids [85, 1148]
      'Amel Chaouch' in city 3: customer_ids [698, 923]
      'Amel Khelifa' in city 7: customer_ids [496, 558]
      'Amine Djedid' in city 8: customer_ids [732, 877]
      'Amine Mebarki' in city 8: customer_ids [148, 626]
   After deduplication: 1110 rows
   ✓ NO duplicates (by customer_id or name+city)
✓ dim_customer: 1110 unique customers
   Regions: 4
   Cities: 12

[6/8] Calculating net profit & creating fact_sales...

[7/8] Creating dim_date...

[8/8] Calculating marketing ROI...
✓ Marketing ROI calculated (162 category-months)

[FINAL] Saving all tables...
✓ Saved: dim_product.csv (38 rows)
✓ Saved: dim_store.csv (12 rows)
✓ Saved: dim_customer.csv (1110 rows)
✓ Saved: dim_date.csv (731 rows)
✓ Saved: fact_sales.csv (25000 rows)
✓ Saved: marketing_roi.csv (162 rows)

✓ 6/6 tables saved to: c:\Users\windows\TechStore\src\scripts\../data/transformed

======================================================================
TRANSFORMATION COMPLETE - SUMMARY
======================================================================
dim_product:        38 rows
dim_store:          12 rows
dim_customer:     1110 rows
dim_date:          731 rows
fact_sales:      25000 rows
marketing_roi:     162 rows
======================================================================

✅ Pipeline completed successfully!
======================================================================

Transformation completed successfully

In [38]:
print("\n" + "="*70)
print("VERIFYING TRANSFORMED FILES")
print("="*70)

transformed_files = {
    'Dim_Customer': 'Dim_Customer.csv',
    'Dim_Product': 'Dim_Product.csv',
    'Dim_Store': 'Dim_Store.csv',
    'Dim_Date': 'Dim_Date.csv',
    'Fact_Sales': 'Fact_Sales.csv'
}

transformed_data = {}

for name, filename in transformed_files.items():
    filepath = TRANSFORMED_DIR / filename
    if filepath.exists():
        df = pd.read_csv(filepath)
        transformed_data[name] = df
        print(f"{name:20} {len(df):>7,} rows x {len(df.columns):>2} columns")
    else:
        print(f"{name:20} File not found")

print(f"\n{len(transformed_data)}/5 tables transformed")

======================================================================
VERIFYING TRANSFORMED FILES
======================================================================
Dim_Customer           1,110 rows x  5 columns
Dim_Product               38 rows x 14 columns
Dim_Store                 12 rows x  8 columns
Dim_Date                 731 rows x 10 columns
Fact_Sales            25,000 rows x 12 columns

5/5 tables transformed

In [39]:
if len(transformed_data) >= 5:
    print("\n" + "="*70)
    print("STAR SCHEMA PREVIEW")
    print("="*70)
    
    print("\nDIMENSIONS:")
    for dim in ['Dim_Customer', 'Dim_Product', 'Dim_Store', 'Dim_Date']:
        if dim in transformed_data:
            df = transformed_data[dim]
            print(f"\n{dim}:")
            print(f"  Rows: {len(df):,}")
            print(f"  Columns: {', '.join(df.columns.tolist()[:5])}...")
            print(df.head(2).to_string(index=False))
    
    print("\nFACT TABLE:")
    if 'Fact_Sales' in transformed_data:
        df = transformed_data['Fact_Sales']
        print(f"\nFact_Sales:")
        print(f"  Rows: {len(df):,}")
        print(f"  Columns: {', '.join(df.columns.tolist())}")
        print(df.head(3).to_string(index=False))
        
        print(f"\nFinancial Summary:")
        print(f"  Total Revenue: {df['total_revenue'].sum():,.2f} DZD")
        print(f"  Net Profit: {df['net_profit'].sum():,.2f} DZD")
        print(f"  Profit Margin: {(df['net_profit'].sum() / df['total_revenue'].sum() * 100):.2f}%")

======================================================================
STAR SCHEMA PREVIEW
======================================================================

DIMENSIONS:

Dim_Customer:
  Rows: 1,110
  Columns: customer_id, full_name, city_id, city_name, region...
 customer_id   full_name  city_id city_name region
           1 Fares Mekki        9    Biskra  South
           2 Zineb Oukil       10  Ghardaia  South

Dim_Product:
  Rows: 38
  Columns: product_id, product_name, subcategory_id, subcategory_name, category_id...
 product_id product_name  subcategory_id subcategory_name  category_id category_name  unit_price  unit_cost  competitor_price  price_difference  price_difference_pct  avg_sentiment  avg_rating  review_count
        100 HP Victus 15               1          Laptops            1     Computers    125000.0    87901.0          119700.0            5300.0                  4.43           0.22        3.54            97
        101  Dell XPS 13               1          Laptops            1     Computers    260000.0   167880.0          242700.0           17300.0                  7.13           0.24        3.55            86

Dim_Store:
  Rows: 12
  Columns: store_id, store_name, city_id, city_name, region...
 store_id             store_name  city_id city_name region  monthly_target  annual_target   manager_name
        1 TechStore Alger Centre        1     Alger  North      6209113.48    74509361.76 Billel Rahmani
        2   TechStore Oran Bahia        2      Oran   West      7555913.44    90670961.28 Khadidja Talbi

Dim_Date:
  Rows: 731
  Columns: date_id, date, year, quarter, month...
 date_id       date  year  quarter  month month_name  day  day_of_week day_name  week_of_year
20230101 2023-01-01  2023        1      1    January    1            7   Sunday            52
20230102 2023-01-02  2023        1      1    January    2            1   Monday             1

FACT TABLE:

Fact_Sales:
  Rows: 25,000
  Columns: trans_id, date, store_id, product_id, customer_id, quantity, total_revenue, cost, gross_profit, shipping_cost, marketing_cost, net_profit
 trans_id       date  store_id  product_id  customer_id  quantity  total_revenue     cost  gross_profit  shipping_cost  marketing_cost  net_profit
        1 2024-07-02         3         125          200         2         9000.0   6172.0        2828.0          752.0          119.63     1956.37
        2 2023-07-01        11         136          883         1         2500.0   1606.0         894.0          376.0          100.84      417.16
        3 2025-01-05         7         106          669         1       320000.0 198987.0      121013.0         1005.0         1949.31   118058.69

Financial Summary:
  Total Revenue: 859,661,700.00 DZD
  Net Profit: 259,493,425.49 DZD
  Profit Margin: 30.19%

## 3. Database Loading

In [40]:
print("\n" + "="*70)
print("CREATING DATA WAREHOUSE")
print("="*70)

try:
    os.chdir(SCRIPTS_DIR)
    exec(open('create_database.py').read())
    os.chdir(PROJECT_ROOT)
    print("\nData warehouse created successfully")
    
except Exception as e:
    print(f"Database creation error: {e}")
    import traceback
    traceback.print_exc()
    os.chdir(PROJECT_ROOT)

======================================================================
CREATING DATA WAREHOUSE
======================================================================
======================================================================
TECHSTORE DATA WAREHOUSE - DATABASE LOADING
Star Schema: 1 Fact Table + 4 Dimension Tables
======================================================================

[1/4] Loading transformed Star Schema files...
  Dim_Customer: 1,110 rows loaded
  Dim_Date: 731 rows loaded
  Dim_Product: 38 rows loaded
  Dim_Store: 12 rows loaded
  Fact_Sales: 25,000 rows loaded

[2/4] Standardizing column names for database...

  [DEBUG] Available columns in each dataframe:
    Dim_Customer: ['customer_id', 'full_name', 'city_id', 'city_name', 'region']
    Dim_Product: ['product_id', 'product_name', 'subcategory_id', 'subcategory_name', 'category_id', 'category_name', 'unit_price', 'unit_cost', 'competitor_price', 'price_difference', 'price_difference_pct', 'avg_sentiment', 'avg_rating', 'review_count']
    Dim_Store: ['store_id', 'store_name', 'city_id', 'city_name', 'region', 'monthly_target', 'annual_target', 'manager_name']
  Column mapping completed

  Final column counts:
    Dim_Customer: 4 columns
    Dim_Product: 7 columns
    Dim_Store: 7 columns
    Dim_Date: 10 columns
    Fact_Sales: 11 columns

[3/4] Creating SQLite Data Warehouse...
  Old database deleted
  Connected to: c:\Users\windows\TechStore\src\database\techstore_dw.db

  Creating Star Schema tables...
    Dim_Date created
    Dim_Product created
    Dim_Store created
    Dim_Customer created
    Fact_Sales created

[4/4] Loading data into tables...
  Loading dimensions first (for referential integrity)...
    Dim_Date: 731 rows inserted
    Dim_Product: 38 rows inserted
    Dim_Store: 12 rows inserted
    Dim_Customer: 1,110 rows inserted
  Loading fact table...
    Fact_Sales: 25,000 rows inserted

  All data loaded successfully!

[Verification] Checking database integrity...

  Table Row Counts:
  ------------------------------------------------------------
    Dim_Date                    731 rows
    Dim_Product                  38 rows
    Dim_Store                    12 rows
    Dim_Customer              1,110 rows
    Fact_Sales               25,000 rows
  ------------------------------------------------------------

  Testing Star Schema joins (Top 5 Sales by Revenue)...
  ------------------------------------------------------------
 Sale_ID  Full_Date Product_Name              Store_Name    Customer_Name  Quantity  Revenue    Profit
     248 2023-09-16  DJI Mavic 3 TechStore Tlemcen Ville    Meriem Benali         1 360000.0 139684.52
     250 2024-12-28  DJI Mavic 3  TechStore Alger Centre Meriem Bouchareb         1 360000.0 137919.34
     331 2023-03-09  DJI Mavic 3 TechStore Tlemcen Ville    Hichem Amrani         1 360000.0 138357.14
     606 2023-08-13  DJI Mavic 3  TechStore Alger Centre      Sami Benali         1 360000.0 137830.82
     756 2023-06-17  DJI Mavic 3    TechStore Setif Park   Fatima Guellil         1 360000.0 139599.78

  Star Schema joins working correctly!

  Business Metrics Summary:
  ------------------------------------------------------------
 Unique_Products  Unique_Stores  Unique_Customers  Total_Transactions  Total_Revenue_M_DZD  Total_Profit_M_DZD  Profit_Margin_Pct  Avg_Transaction_Value
              38             12              1200               25000               859.66              259.49              30.19               34386.47

  Date Range: 2023-01-01 to 2024-12-31

======================================================================
DATA WAREHOUSE LOADING COMPLETED SUCCESSFULLY!
======================================================================

Database File: c:\Users\windows\TechStore\src\database\techstore_dw.db
Date Range: 2023-01-01 to 2024-12-31
Total Revenue: 859.66 Million DZD
Total Profit: 259.49 Million DZD
Profit Margin: 30.19%
Stores: 12
Products: 38
Customers: 1200
Transactions: 25,000

======================================================================
STAR SCHEMA TABLES (5)
STAR SCHEMA TABLES (5)
======================================================================
1. Fact_Sales (Fact Table)
2. Dim_Date (Time Dimension)
3. Dim_Product (Product Dimension)
4. Dim_Store (Store Dimension)
5. Dim_Customer (Customer Dimension)
1. Fact_Sales (Fact Table)
2. Dim_Date (Time Dimension)
3. Dim_Product (Product Dimension)
4. Dim_Store (Store Dimension)
5. Dim_Customer (Customer Dimension)
======================================================================

Data warehouse created successfully

In [41]:
print("\n" + "="*70)
print("DATABASE CONNECTION TEST")
print("="*70)

try:
    import sqlite3
    
    db_path = DATABASE_DIR / 'techstore_dw.db'
    
    if db_path.exists():
        conn = sqlite3.connect(str(db_path))
        cursor = conn.cursor()
        cursor.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name")
        tables = cursor.fetchall()
        
        print(f"\nConnected: {db_path}")
        print(f"\nTables ({len(tables)}):")
        
        for table in tables:
            table_name = table[0]
            cursor.execute(f"SELECT COUNT(*) FROM {table_name}")
            count = cursor.fetchone()[0]
            print(f"  {table_name:20} {count:>8,} rows")
        
        print("\nTesting Star Schema joins:")
        test_query = """
        SELECT 
            fs.Sale_ID,
            dd.Full_Date,
            dp.Product_Name,
            ds.Store_Name,
            dc.Customer_Name,
            fs.Total_Revenue,
            fs.Net_Profit
        FROM Fact_Sales fs
        JOIN Dim_Date dd ON fs.Date_ID = dd.Date_ID
        JOIN Dim_Product dp ON fs.Product_ID = dp.Product_ID
        JOIN Dim_Store ds ON fs.Store_ID = ds.Store_ID
        JOIN Dim_Customer dc ON fs.Customer_ID = dc.Customer_ID
        LIMIT 5
        """
        
        test_df = pd.read_sql(test_query, conn)
        print(test_df.to_string(index=False))
        print("\nJoins working correctly")
        
        conn.close()
    else:
        print(f"Database not found: {db_path}")
        
except Exception as e:
    print(f"Database test error: {e}")

======================================================================
DATABASE CONNECTION TEST
======================================================================

Connected: c:\Users\windows\TechStore\src\database\techstore_dw.db

Tables (5):
  Dim_Customer            1,110 rows
  Dim_Date                  731 rows
  Dim_Product                38 rows
  Dim_Store                  12 rows
  Fact_Sales             25,000 rows

Testing Star Schema joins:
 Sale_ID  Full_Date Product_Name                  Store_Name  Customer_Name  Total_Revenue  Net_Profit
       1 2024-07-02 Redmi Buds 4 TechStore Constantine Cirta    Ryad Benali         9000.0     1956.37
       2 2023-07-01 HP 650 Black       TechStore Ouargla Sud Mohamed Benali         2500.0      417.16
       4 2024-08-01 Redmi Buds 4        TechStore Oran Bahia Sarah Zerrouki         4500.0      364.51
       5 2023-04-30  Oppo Reno 8      TechStore Biskra Ziban   Amel Brahami        58000.0    19474.00
       6 2024-06-25 HP 650 Black       TechStore Ouargla Sud  Fares Khelifa         2500.0      437.77

Joins working correctly

## 4. Validation & Testing

In [42]:
print("\n" + "="*70)
print("DATA QUALITY VALIDATION")
print("="*70)

validation_results = []

for name, df in transformed_data.items():
    missing = df.isnull().sum().sum()
    missing_pct = (missing / (df.shape[0] * df.shape[1])) * 100
    
    if 'Customer_ID' in df.columns:
        duplicates = df['Customer_ID'].duplicated().sum()
    elif 'Product_ID' in df.columns:
        duplicates = df['Product_ID'].duplicated().sum()
    elif 'Store_ID' in df.columns:
        duplicates = df['Store_ID'].duplicated().sum()
    elif 'Date_ID' in df.columns:
        duplicates = df['Date_ID'].duplicated().sum()
    elif 'Sale_ID' in df.columns:
        duplicates = df['Sale_ID'].duplicated().sum()
    else:
        duplicates = 0
    
    validation_results.append({
        'Table': name,
        'Rows': len(df),
        'Columns': len(df.columns),
        'Missing_Values': missing,
        'Missing_Pct': f"{missing_pct:.2f}%",
        'Duplicate_Keys': duplicates,
        'Status': 'OK' if missing_pct < 5 and duplicates == 0 else 'WARNING'
    })

df_validation = pd.DataFrame(validation_results)
print("\n" + df_validation.to_string(index=False))

======================================================================
DATA QUALITY VALIDATION
======================================================================

       Table  Rows  Columns  Missing_Values Missing_Pct  Duplicate_Keys Status
Dim_Customer  1110        5               0       0.00%               0     OK
 Dim_Product    38       14               0       0.00%               0     OK
   Dim_Store    12        8               0       0.00%               0     OK
    Dim_Date   731       10               0       0.00%               0     OK
  Fact_Sales 25000       12               0       0.00%               0     OK

In [43]:
print("\n" + "="*70)
print("SQL QUERIES TEST")
print("="*70)

try:
    os.chdir(SCRIPTS_DIR)
    exec(open('test_queries.py').read())
    os.chdir(PROJECT_ROOT)
    
except Exception as e:
    print(f"SQL tests error: {e}")
    os.chdir(PROJECT_ROOT)

======================================================================
SQL QUERIES TEST
======================================================================
======================================================================
COMPREHENSIVE SQL QUERIES TEST
======================================================================
Connected to: ../database/techstore_dw.db

[1/13] Testing: Total Revenue
  Success: 1 rows, 1 columns
  Result:
 Total_Revenue
   859661700.0

[2/13] Testing: Net Profit
  Success: 1 rows, 1 columns
  Result:
  Net_Profit
259493425.49

[3/13] Testing: Total Transactions
  Success: 1 rows, 1 columns
  Result:
 Total_Transactions
              25000

[4/13] Testing: Avg Transaction Value
  Success: 1 rows, 1 columns
  Result:
 Avg_Transaction_Value
              34386.47

[5/13] Testing: Monthly Trends
  Success: 24 rows, 7 columns

[6/13] Testing: Top Selling Products
  Success: 15 rows, 6 columns

[7/13] Testing: Category Performance
  Success: 5 rows, 6 columns

[8/13] Testing: Store Ranking
  Success: 12 rows, 8 columns

[9/13] Testing: Regional Performance
  Success: 4 rows, 6 columns

[10/13] Testing: Top Customers
  Success: 20 rows, 7 columns

[11/13] Testing: Profit Margin by Category
  Success: 5 rows, 9 columns

[12/13] Testing: Marketing ROI
  Success: 5 rows, 5 columns

[13/13] Testing: Dashboard Summary
  Success: 1 rows, 12 columns
  Result:
Start_Date   End_Date  Total_Transactions  Unique_Customers  Unique_Products  Unique_Stores  Total_Revenue  Total_Profit  Avg_Transaction_Value  Overall_Profit_Margin  Total_Units_Sold  Avg_Quantity_Per_Transaction
2023-01-01 2024-12-31               16652              1200               38             12    570222100.0  172099726.93               34243.46                  30.18             27444                          1.65

======================================================================
TEST SUMMARY
======================================================================
                    Query Status  Rows  Columns
            Total Revenue   Pass     1        1
               Net Profit   Pass     1        1
       Total Transactions   Pass     1        1
    Avg Transaction Value   Pass     1        1
           Monthly Trends   Pass    24        7
     Top Selling Products   Pass    15        6
     Category Performance   Pass     5        6
            Store Ranking   Pass    12        8
     Regional Performance   Pass     4        6
            Top Customers   Pass    20        7
Profit Margin by Category   Pass     5        9
            Marketing ROI   Pass     5        5
        Dashboard Summary   Pass     1       12

Passed: 13
Failed: 0

All queries are working perfectly!
Ready for dashboard integration!

## 5. Pipeline Summary

In [44]:
print("\n" + "="*70)
print("ETL PIPELINE COMPLETED")
print("="*70)

summary = {
    'Extraction': {
        'MySQL Tables': len([k for k in dataframes.keys() if k not in ['competitor_prices']]),
        'Competitor Prices': 'competitor_prices' in dataframes,
        'Legacy Invoices': (DATA_DIR / 'extracted' / 'legacy_sales.csv').exists()
    },
    'Transformation': {
        'Dimensions': len([k for k in transformed_data.keys() if k.startswith('Dim_')]),
        'Fact Table': 'Fact_Sales' in transformed_data
    },
    'Loading': {
        'Database': (DATABASE_DIR / 'techstore_dw.db').exists(),
        'Tables': len(tables) if 'tables' in locals() else 0
    }
}

print("\nEXTRACTION:")
for key, value in summary['Extraction'].items():
    status = "OK" if value else "SKIPPED"
    print(f"  {key}: {value} [{status}]")

print("\nTRANSFORMATION:")
for key, value in summary['Transformation'].items():
    status = "OK" if value else "FAILED"
    print(f"  {key}: {value} [{status}]")

print("\nLOADING:")
for key, value in summary['Loading'].items():
    status = "OK" if value else "FAILED"
    print(f"  {key}: {value} [{status}]")

print("\nNEXT STEPS:")
print("  1. Launch dashboard: streamlit run dashboard/dashboard_app.py")
print("  2. Analyze business metrics")
print("  3. Generate final report")

print("\n" + "="*70)
print("FILES GENERATED:")
print("="*70)
print(f"  Data Warehouse: {DATABASE_DIR / 'techstore_dw.db'}")
print(f"  Extracted Data: {EXTRACTED_DIR}/")
print(f"  Transformed Data: {TRANSFORMED_DIR}/")
print("\n" + "="*70)

======================================================================
ETL PIPELINE COMPLETED
======================================================================

EXTRACTION:
  MySQL Tables: 8 [OK]
  Competitor Prices: True [OK]
  Legacy Invoices: True [OK]

TRANSFORMATION:
  Dimensions: 4 [OK]
  Fact Table: True [OK]

LOADING:
  Database: True [OK]
  Tables: 5 [OK]

NEXT STEPS:
  1. Launch dashboard: streamlit run dashboard/dashboard_app.py
  2. Analyze business metrics
  3. Generate final report

======================================================================
FILES GENERATED:
======================================================================
  Data Warehouse: c:\Users\windows\TechStore\src\database\techstore_dw.db
  Extracted Data: c:\Users\windows\TechStore\src\Data\extracted/
  Transformed Data: c:\Users\windows\TechStore\src\Data\transformed/

======================================================================