In [29]:
# ====================================================================
# PROJET BUSINESS INTELLIGENCE - TECHSTORE
# ETL PIPELINE - PARTIE MEMBRE 1 : DATA EXTRACTION
# ====================================================================

# %% [markdown]
# # üìä Extraction des Donn√©es (Membre 1)
# 
# Ce notebook contient la partie extraction du pipeline ETL.
# **Responsable :** Membre 1 - Data Extraction Engineer
# 
# ## Objectifs :
# 1. ‚úÖ Extraire les donn√©es de MySQL (ERP)
# 2. ‚úÖ Scraper les prix des concurrents
# 3. ‚úÖ Extraire les factures legacy (OCR - BONUS)
# 4. ‚úÖ Valider la qualit√© des donn√©es extraites

# %% Imports pour tout le pipeline ETL
# Installer les d√©pendances manquantes (ex√©cuter uniquement dans le notebook)


# === Imports de base ===
import pandas as pd
import os
import warnings
warnings.filterwarnings('ignore')

# === Partie 1 : Extraction (Membre 1) ===
import mysql.connector
import requests
from bs4 import BeautifulSoup
import os
import sys
import time
from datetime import datetime

# === Partie 2 : Transformations (Membre 2 - Toi) ===
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
import pytesseract
from PIL import Image
import re
from fuzzywuzzy import process  # Pour le matching des prix concurrents

print("‚úÖ Biblioth√®ques import√©es avec succ√®s")
print(f"üìÖ Date d'ex√©cution: {datetime.now().strftime('%Y-%m-%d %H:%M:%S')}")

# %% [markdown]
# ## 1Ô∏è‚É£ Configuration de la Connexion MySQL

# %% Configuration
MYSQL_CONFIG = {
    'host': 'boughida.com',
    'database': 'techstore_erp',
    'user': 'student_user_4ing',
    'password': 'bi_guelma_2025'
}

# Cr√©er les r√©pertoires n√©cessaires
os.makedirs('data/extracted', exist_ok=True)
os.makedirs('data/legacy_invoices', exist_ok=True)

print("üìã Configuration charg√©e")
print(f"   Serveur: {MYSQL_CONFIG['host']}")
print(f"   Base de donn√©es: {MYSQL_CONFIG['database']}")

# %% [markdown]
# ## 2Ô∏è‚É£ Connexion et Test

# %% Test de connexion
def test_connection():
    """Tester la connexion √† MySQL"""
    try:
        conn = mysql.connector.connect(**MYSQL_CONFIG)
        if conn.is_connected():
            print("‚úÖ Connexion MySQL r√©ussie!")
            
            # Tester une requ√™te simple
            cursor = conn.cursor()
            cursor.execute("SELECT DATABASE()")
            db_name = cursor.fetchone()[0]
            print(f"   Base de donn√©es active: {db_name}")
            
            # Lister les tables disponibles
            cursor.execute("SHOW TABLES")
            tables = cursor.fetchall()
            print(f"   Nombre de tables: {len(tables)}")
            
            conn.close()
            return True
    except Exception as e:
        print(f"‚ùå Erreur de connexion: {e}")
        return False

# Ex√©cuter le test
test_connection()

# %% [markdown]
# ## 3Ô∏è‚É£ Extraction des Tables MySQL

# %% Fonction d'extraction
def extract_mysql_table(table_name, conn):
    """Extraire une table MySQL vers DataFrame"""
    try:
        print(f"üìä Extraction: {table_name}...", end=" ")
        
        query = f"SELECT * FROM {table_name}"
        df = pd.read_sql(query, conn)
        
        # Sauvegarder en CSV
        filename = f"data/extracted/{table_name.replace('table_', '')}.csv"
        df.to_csv(filename, index=False, encoding='utf-8')
        
        print(f"‚úÖ {len(df)} lignes | {len(df.columns)} colonnes")
        
        return df
        
    except Exception as e:
        print(f"‚ùå Erreur: {e}")
        return None

# %% Extraction de toutes les tables
print("\n" + "="*60)
print("üöÄ EXTRACTION DES TABLES MySQL")
print("="*60 + "\n")

# Se connecter
conn = mysql.connector.connect(**MYSQL_CONFIG)

# Liste des tables √† extraire
tables_to_extract = [
    'table_sales',
    'table_products',
    'table_reviews',
    'table_customers',
    'table_stores',
    'table_cities',
    'table_categories',
    'table_subcategories'
]

# Dictionnaire pour stocker les DataFrames
dataframes = {}

# Extraire chaque table
for table in tables_to_extract:
    df = extract_mysql_table(table, conn)
    if df is not None:
        # Enlever le pr√©fixe "table_" pour le nom
        clean_name = table.replace('table_', '')
        dataframes[clean_name] = df

# Fermer la connexion
conn.close()

print("\n‚úÖ Extraction MySQL termin√©e!")
print(f"üì¶ {len(dataframes)} tables extraites")

# %% [markdown]
# ## 4Ô∏è‚É£ Aper√ßu des Donn√©es Extraites

# %% Afficher un aper√ßu
print("\n" + "="*60)
print("üìã APER√áU DES DONN√âES EXTRAITES")
print("="*60 + "\n")

for name, df in dataframes.items():
    print(f"\nüìä Table: {name}")
    print(f"   Dimensions: {df.shape[0]} lignes √ó {df.shape[1]} colonnes")
    print(f"   Colonnes: {', '.join(df.columns.tolist()[:5])}...")
    print(f"   Aper√ßu:")
    print(df.head(3))
    print("-" * 60)

# %% [markdown]
# ## 5Ô∏è‚É£ Statistiques des Ventes

# %% Analyse rapide des ventes
df_sales = dataframes['sales']

print("\nüìä STATISTIQUES DES VENTES")
print("="*60)
print(f"Nombre total de ventes: {len(df_sales):,}")
print(f"Revenu total: {df_sales['Total_Revenue'].sum():,.2f} DZD")
print(f"Revenu moyen par vente: {df_sales['Total_Revenue'].mean():,.2f} DZD")
print(f"P√©riode: {df_sales['Date'].min()} ‚Üí {df_sales['Date'].max()}")

# %% [markdown]
# ## 6Ô∏è‚É£ Web Scraping - Prix Concurrents

# %% Import du module de scraping
print("\n" + "="*60)
print("üï∑Ô∏è  WEB SCRAPING - PRIX CONCURRENTS")
print("="*60 + "\n")

# Ajouter le r√©pertoire scripts au path pour l'import
sys.path.insert(0, 'scripts')

try:
    from scrape_competitors import scrape_with_fallback
    
    # Ex√©cuter le scraping
    df_competitor = scrape_with_fallback()
    
    if df_competitor is not None:
        print(f"\n‚úÖ Scraping termin√©: {len(df_competitor)} produits extraits")
        print(f"üíæ Fichier sauvegard√©: data/extracted/competitor_prices.csv")
        
        # Afficher un aper√ßu
        print("\nüìã Aper√ßu des prix concurrents:")
        print(df_competitor.head(10))
        
        # Ajouter au dictionnaire
        dataframes['competitor_prices'] = df_competitor
    else:
        print("‚ö†Ô∏è Aucune donn√©e de concurrent r√©cup√©r√©e")
        
except Exception as e:
    print(f"‚ùå Erreur lors du scraping: {e}")
    print("üìù Le module de scraping doit √™tre disponible dans scripts/scrape_competitors.py")

# %% [markdown]
# ## 7Ô∏è‚É£ Extraction des Factures Legacy (OCR - BONUS)

# %% OCR Processing
print("\n" + "="*60)
print("üìÑ EXTRACTION DES FACTURES LEGACY (OCR - BONUS)")
print("="*60 + "\n")

# Check if invoice images exist
invoice_dir = 'data/legacy_invoices'
has_invoices = os.path.exists(invoice_dir) and len([f for f in os.listdir(invoice_dir) 
                if f.lower().endswith(('.jpg', '.jpeg', '.png'))]) > 0

if has_invoices:
    print("üìÅ Factures d√©tect√©es, lancement de l'OCR...")
    
    try:
        from extract_legacy_invoices import InvoiceOCRProcessor
        
        # Initialize and run OCR processor
        processor = InvoiceOCRProcessor(invoice_dir)
        df_legacy = processor.process_and_save()
        
        if df_legacy is not None and len(df_legacy) > 0:
            print(f"\n‚úÖ OCR termin√©: {len(df_legacy)} factures trait√©es")
            print(f"üíæ Fichier sauvegard√©: data/extracted/legacy_sales.csv")
            
            # Display preview
            print("\nüìã Aper√ßu des ventes legacy:")
            print(df_legacy.head())
            
            # Add to dataframes dictionary
            dataframes['legacy_sales'] = df_legacy
            
        else:
            print("‚ö†Ô∏è Aucune donn√©e extraite par OCR")
            
    except ImportError:
        print("‚ö†Ô∏è Module OCR non trouv√© (scripts/extract_legacy_invoices.py)")
        print("   Cette √©tape est optionnelle (BONUS)")
    except Exception as e:
        print(f"‚ö†Ô∏è Erreur OCR: {e}")
        print("   Utilisation de donn√©es manuelles √† la place...")
        
        try:
            from extract_legacy_invoices import create_manual_data
            df_legacy = create_manual_data()
            dataframes['legacy_sales'] = df_legacy
            print("‚úÖ Donn√©es manuelles cr√©√©es")
        except:
            print("   Passage de cette √©tape")
else:
    print("‚ÑπÔ∏è  Aucune facture trouv√©e dans data/legacy_invoices/")
    print("   Cette √©tape est optionnelle (BONUS)")
    print("   Pour activer: placez les images .jpg dans data/legacy_invoices/")

# %% [markdown]
# ## 8Ô∏è‚É£ Validation des Donn√©es Extraites

# %% V√©rifications de qualit√©
print("\n" + "="*60)
print("‚úÖ VALIDATION DES DONN√âES")
print("="*60 + "\n")

validation_results = []

for name, df in dataframes.items():
    # V√©rifier les valeurs manquantes
    missing = df.isnull().sum().sum()
    missing_pct = (missing / (df.shape[0] * df.shape[1])) * 100
    
    # V√©rifier les doublons
    duplicates = df.duplicated().sum()
    
    validation_results.append({
        'Table': name,
        'Lignes': len(df),
        'Colonnes': len(df.columns),
        'Valeurs_Manquantes': missing,
        'Pct_Manquant': f"{missing_pct:.2f}%",
        'Doublons': duplicates,
        'Statut': '‚úÖ' if missing_pct < 5 and duplicates < 10 else '‚ö†Ô∏è'
    })

df_validation = pd.DataFrame(validation_results)
print(df_validation.to_string(index=False))

# %% [markdown]
# ## 9Ô∏è‚É£ Export Summary Report

# %% Generate extraction summary
print("\n" + "="*60)
print("üìä G√âN√âRATION DU RAPPORT D'EXTRACTION")
print("="*60 + "\n")

summary = {
    'extraction_date': datetime.now().strftime('%Y-%m-%d %H:%M:%S'),
    'total_tables': len(dataframes),
    'total_records': sum(len(df) for df in dataframes.values()),
    'files_created': []
}

# List all created files with sizes
for file in sorted(os.listdir('data/extracted')):
    file_path = f"data/extracted/{file}"
    file_size = os.path.getsize(file_path) / 1024  # KB
    summary['files_created'].append({
        'filename': file,
        'size_kb': round(file_size, 2),
        'records': len(pd.read_csv(file_path))
    })

# Save summary to JSON
import json
with open('data/extracted/extraction_summary.json', 'w') as f:
    json.dump(summary, f, indent=2)

print("‚úÖ Rapport d'extraction sauvegard√©: extraction_summary.json")

# %% [markdown]
# ## üîü R√©sum√© de l'Extraction

# %% R√©sum√© final
print("\n" + "="*70)
print("üìä R√âSUM√â DE L'EXTRACTION (MEMBRE 1)")
print("="*70 + "\n")

print("‚úÖ T√ÇCHES COMPL√âT√âES:")
print("   1. ‚úÖ Connexion MySQL √©tablie et test√©e")
print(f"   2. ‚úÖ {len([k for k in dataframes.keys() if k not in ['competitor_prices', 'legacy_sales']])} tables extraites de l'ERP")
print("   3. ‚úÖ Web scraping des prix concurrents effectu√©")

if 'legacy_sales' in dataframes:
    print("   4. ‚úÖ Extraction OCR des factures legacy (BONUS)")
else:
    print("   4. ‚è≠Ô∏è  Extraction OCR non effectu√©e (optionnel)")

print("   5. ‚úÖ Toutes les donn√©es sauvegard√©es en CSV")
print("   6. ‚úÖ Validation de la qualit√© des donn√©es effectu√©e")

print("\nüì¶ FICHIERS CR√â√âS:")
for file_info in summary['files_created']:
    print(f"   ‚Ä¢ {file_info['filename']:<30} ({file_info['size_kb']:>8.1f} KB) - {file_info['records']:>6,} lignes")

print(f"\nüìä STATISTIQUES GLOBALES:")
print(f"   ‚Ä¢ Total de lignes extraites: {summary['total_records']:,}")
print(f"   ‚Ä¢ Nombre de fichiers: {len(summary['files_created'])}")
print(f"   ‚Ä¢ Date d'extraction: {summary['extraction_date']}")

print("\nüöÄ PROCHAINE √âTAPE:")
print("   ‚Üí Membre 2 peut maintenant transformer ces donn√©es")
print("   ‚Üí Fichiers disponibles dans: data/extracted/")
print("   ‚Üí Rapport disponible dans: data/extracted/extraction_summary.json")

print("\nüí° NOTES POUR L'√âQUIPE:")
print("   ‚Ä¢ Les donn√©es ERP couvrent la p√©riode 2023-2025")
print("   ‚Ä¢ Les prix concurrents sont √† jour √† la date d'extraction")
if 'legacy_sales' in dataframes:
    print("   ‚Ä¢ Les factures legacy (2022) ont √©t√© num√©ris√©es (BONUS)")

print("\n" + "="*70)
print("‚úÖ EXTRACTION TERMIN√âE AVEC SUCC√àS")
print("="*70)

# %% [markdown]
# ## üìù Notes de D√©veloppement
# 
# ### Structure des fichiers cr√©√©s:
# - `sales.csv`: Transactions de vente (OLTP)
# - `products.csv`: Catalogue produits
# - `customers.csv`: Profils clients
# - `stores.csv`: Magasins
# - `cities.csv`: G√©ographie
# - `categories.csv` & `subcategories.csv`: Hi√©rarchie produits
# - `reviews.csv`: Avis clients (pour sentiment analysis)
# - `competitor_prices.csv`: Prix concurrents (web scraping)
# - `legacy_sales.csv`: Ventes 2022 (OCR - optionnel)
# 
# ### Prochaines √©tapes (Membre 2):
# - Charger ces CSV
# - Appliquer les transformations (nettoyage, enrichissement)
# - Calculer Net_Profit avec les fichiers Excel
# - Effectuer l'analyse de sentiment (VADER)
# - Pr√©parer les donn√©es pour le Data Warehouse

‚úÖ Biblioth√®ques import√©es avec succ√®s
üìÖ Date d'ex√©cution: 2025-12-26 21:14:50
üìã Configuration charg√©e
   Serveur: boughida.com
   Base de donn√©es: techstore_erp
‚úÖ Connexion MySQL r√©ussie!
   Base de donn√©es active: techstore_erp
   Nombre de tables: 8

============================================================
üöÄ EXTRACTION DES TABLES MySQL
============================================================

üìä Extraction: table_sales... ‚úÖ 25000 lignes | 7 colonnes
üìä Extraction: table_products... ‚úÖ 38 lignes | 5 colonnes
üìä Extraction: table_reviews... ‚úÖ 3000 lignes | 5 colonnes
üìä Extraction: table_customers... ‚úÖ 1200 lignes | 3 colonnes
üìä Extraction: table_stores... ‚úÖ 12 lignes | 3 colonnes
üìä Extraction: table_cities... ‚úÖ 12 lignes | 3 colonnes
üìä Extraction: table_categories... ‚úÖ 5 lignes | 2 colonnes
üìä Extraction: table_subcategories... ‚úÖ 15 lignes | 3 colonnes

‚úÖ Extraction MySQL termin√©e!
üì¶ 8 tables extraites

============================================================
üìã APER√áU DES DONN√âES EXTRAITES
============================================================


üìä Table: sales
   Dimensions: 25000 lignes √ó 7 colonnes
   Colonnes: Trans_ID, Date, Store_ID, Product_ID, Customer_ID...
   Aper√ßu:

,Trans_ID,Date,Store_ID,Product_ID,Customer_ID,Quantity,Total_Revenue
0,1,2024-07-02 17:15:00,3,P125,C0200,2,9000.0
1,2,2023-07-01 13:52:00,11,P136,C0883,1,2500.0
2,3,2025-01-05 18:56:00,7,P106,C0669,1,320000.0

------------------------------------------------------------

üìä Table: products
   Dimensions: 38 lignes √ó 5 colonnes
   Colonnes: Product_ID, Product_Name, SubCat_ID, Unit_Price, Unit_Cost...
   Aper√ßu:

  Product_ID    Product_Name  SubCat_ID  Unit_Price  Unit_Cost
0       P100    HP Victus 15          1    125000.0    87901.0
1       P101     Dell XPS 13          1    260000.0   167880.0
2       P102  MacBook Air M2          1    195000.0   141052.0

------------------------------------------------------------

üìä Table: reviews
   Dimensions: 3000 lignes √ó 5 colonnes
   Colonnes: Review_ID, Product_ID, Customer_ID, Rating, Review_Text...
   Aper√ßu:

,Review_ID,Product_ID,Customer_ID,Rating,Review_Text
0,1,P127,C1149,3,"Average, expected better battery life."
1,2,P103,C0116,5,"Excellent product, highly recommended!"
2,3,P102,C0238,4,"Good, but shipping was a bit slow to Guelma."

------------------------------------------------------------

üìä Table: customers
   Dimensions: 1200 lignes √ó 3 colonnes
   Colonnes: Customer_ID, Full_Name, City_ID...
   Aper√ßu:

  Customer_ID     Full_Name  City_ID
0       C0001   Fares Mekki        9
1       C0002   Zineb Oukil       10
2       C0003  Amel Rahmani        2

------------------------------------------------------------

üìä Table: stores
   Dimensions: 12 lignes √ó 3 colonnes
   Colonnes: Store_ID, Store_Name, City_ID...
   Aper√ßu:

   Store_ID                   Store_Name  City_ID
0         1       TechStore Alger Centre        1
1         2         TechStore Oran Bahia        2
2         3  TechStore Constantine Cirta        3

------------------------------------------------------------

üìä Table: cities
   Dimensions: 12 lignes √ó 3 colonnes
   Colonnes: City_ID, City_Name, Region...
   Aper√ßu:

   City_ID    City_Name Region
0        1        Alger  North
1        2         Oran   West
2        3  Constantine   East

------------------------------------------------------------

üìä Table: categories
   Dimensions: 5 lignes √ó 2 colonnes
   Colonnes: Category_ID, Category_Name...
   Aper√ßu:

   Category_ID Category_Name
0            1     Computers
1            2   Smartphones
2            3         Audio

------------------------------------------------------------

üìä Table: subcategories
   Dimensions: 15 lignes √ó 3 colonnes
   Colonnes: SubCat_ID, SubCat_Name, Category_ID...
   Aper√ßu:

   SubCat_ID SubCat_Name  Category_ID
0          1     Laptops            1
1          2    Desktops            1
2          3    Monitors            1

------------------------------------------------------------

üìä STATISTIQUES DES VENTES
============================================================
Nombre total de ventes: 25,000
Revenu total: 859,661,700.00 DZD
Revenu moyen par vente: 34,386.47 DZD
P√©riode: 2023-01-01 09:43:00 ‚Üí 2025-12-30 20:58:00

============================================================
üï∑Ô∏è  WEB SCRAPING - PRIX CONCURRENTS
============================================================

üì° Connexion √†: https://boughida.com/competitor/
üîç 0 produits trouv√©s

‚úÖ Scraping termin√©: 0 produits extraits
üíæ Fichier sauvegard√©: data/extracted/competitor_prices.csv

üìã Aper√ßu des prix concurrents:

Empty DataFrame
Columns: []
Index: []

============================================================
‚úÖ VALIDATION DES DONN√âES
============================================================

,Table,Lignes,Colonnes,Valeurs_Manquantes,Pct_Manquant,Doublons,Statut
0,sales,25000,7,0,0.00%,0,‚úÖ
1,products,38,5,0,0.00%,0,‚úÖ
2,reviews,3000,5,0,0.00%,0,‚úÖ
3,customers,1200,3,0,0.00%,0,‚úÖ
4,stores,12,3,0,0.00%,0,‚úÖ
5,cities,12,3,0,0.00%,0,‚úÖ
6,categories,5,2,0,0.00%,0,‚úÖ
7,subcategories,15,3,0,0.00%,0,‚úÖ

======================================================================
üìä R√âSUM√â DE L'EXTRACTION (MEMBRE 1)
======================================================================

‚úÖ T√ÇCHES COMPL√âT√âES:
   1. Connexion MySQL √©tablie et test√©e
   2. 8 tables extraites de l'ERP
   3. Web scraping des prix concurrents effectu√©
   4. Toutes les donn√©es sauvegard√©es en CSV
   5. Validation de la qualit√© des donn√©es effectu√©e

üì¶ FICHIERS CR√â√âS:
   ‚Ä¢ categories.csv (0.1 KB)
   ‚Ä¢ cities.csv (0.2 KB)
   ‚Ä¢ competitor_prices.csv (0.0 KB)
   ‚Ä¢ customers.csv (26.9 KB)
   ‚Ä¢ products.csv (1.5 KB)
   ‚Ä¢ reviews.csv (179.5 KB)
   ‚Ä¢ sales.csv (1199.7 KB)
   ‚Ä¢ stores.csv (0.4 KB)
   ‚Ä¢ subcategories.csv (0.3 KB)

üöÄ PROCHAINE √âTAPE:
   ‚Üí Membre 2 peut maintenant transformer ces donn√©es
   ‚Üí Fichiers disponibles dans: data/extracted/

======================================================================
‚úÖ EXTRACTION TERMIN√âE AVEC SUCC√àS
======================================================================
======================================================================
PARTIE 2 ‚Äì TRANSFORMATION (MEMBRE 2) + CR√âATION DIM TABLES
======================================================================
üìÇ Projet racine   : e:\BI\project\TechStore
üì• Lecture depuis  : e:\BI\project\TechStore\data\extracted
üì§ √âcriture dans   : e:\BI\project\TechStore\data\transformed
----------------------------------------------------------------------

üéØ BONUS - EXTRACTION OCR DES FACTURES 2022...

üìÑ CHARGEMENT DES DONN√âES...
‚ö†Ô∏è Fichier manquant: e:\BI\project\TechStore\data\extracted\sales.csv. Cr√©ation d'un DataFrame vide.
‚ö†Ô∏è Fichier manquant: e:\BI\project\TechStore\data\extracted\products.csv. Cr√©ation d'un DataFrame vide.
‚ö†Ô∏è Fichier manquant: e:\BI\project\TechStore\data\extracted\reviews.csv. Cr√©ation d'un DataFrame vide.
‚ö†Ô∏è Fichier manquant: e:\BI\project\TechStore\data\extracted\customers.csv. Cr√©ation d'un DataFrame vide.
‚ö†Ô∏è Fichier manquant: e:\BI\project\TechStore\data\extracted\stores.csv. Cr√©ation d'un DataFrame vide.
‚ö†Ô∏è Fichier manquant: e:\BI\project\TechStore\data\extracted\cities.csv. Cr√©ation d'un DataFrame vide.
‚ö†Ô∏è Fichier manquant: e:\BI\project\TechStore\data\extracted\categories.csv. Cr√©ation d'un DataFrame vide.
‚ö†Ô∏è Fichier manquant: e:\BI\project\TechStore\data\extracted\subcategories.csv. Cr√©ation d'un DataFrame vide.
‚ö†Ô∏è Impossible de charger marketing_expenses.xlsx: [Errno 2] No such file or directory: 'e:\\BI\\project\\TechStore\\data\\flat_files\\marketing_expenses.xlsx'
‚ö†Ô∏è Impossible de charger monthly_targets.xlsx: [Errno 2] No such file or directory: 'e:\\BI\\project\\TechStore\\data\\flat_files\\monthly_targets.xlsx'
‚ö†Ô∏è Impossible de charger shipping_rates.xlsx: [Errno 2] No such file or directory: 'e:\\BI\\project\\TechStore\\data\\flat_files\\shipping_rates.xlsx'
‚ö†Ô∏è  Pas de donn√©es concurrentes
‚ö†Ô∏è  Pas de donn√©es legacy 2022
‚úÖ 0 lignes de ventes charg√©es

üßπ NETTOYAGE DES DONN√âES...
‚úÖ Nettoyage termin√©

üí¨ ANALYSE DE SENTIMENT (VADER)...
‚úÖ 0 produits analys√©s
   üìä Score sentiment moyen : nan

üè™ INT√âGRATION PRIX CONCURRENTS...
‚ö†Ô∏è  Pas de matching effectu√©

üèóÔ∏è CR√âATION DES TABLES DE DIMENSION...
‚úÖ Dim_Product : 0 lignes
‚úÖ Dim_Store : 0 lignes
‚úÖ Dim_Customer : 0 lignes
‚úÖ Dim_Date : 0 lignes

üí∞ CR√âATION DE LA TABLE DE FAITS...
‚úÖ Fact_Sales : 0 lignes

üíæ SAUVEGARDE DES FICHIERS...
‚úÖ Tous les fichiers sauvegard√©s

======================================================================
üìã FICHIERS CR√â√âS DANS data/transformed/
======================================================================
  ‚úî Dim_Customer.csv                    0.0 KB | 0 lignes
  ‚úî Dim_Date.csv                        0.1 KB | 0 lignes
  ‚úî Dim_Product.csv                     0.2 KB | 0 lignes
  ‚úî Dim_Store.csv                       0.1 KB | 0 lignes
  ‚úî Fact_Sales.csv                      0.1 KB | 0 lignes

======================================================================
‚úÖ TRANSFORMATION TERMIN√âE
======================================================================

üìå T√ÇCHES EFFECTU√âES :
   1. ‚úÖ Nettoyage donn√©es (duplicates, types, formats)
   2. ‚úÖ Analyse sentiment VADER sur reviews
   3. ‚úÖ Int√©gration prix concurrents (price_difference_pct)
   4. ‚úÖ Calcul Net Profit = Revenue - Cost - Shipping - Marketing
   5. ‚úÖ Harmonisation devise USD‚ÜíDZD (taux: 135)
   6. ‚úÖ Cr√©ation des 4 tables de dimension + 1 table de faits
   7. ‚úÖ Allocation marketing par cat√©gorie/mois
======================================================================